<div class="user_textarea">
  <div class="container">
    <div class="flash">
      <p class="text-center">
        <span class="text-primary"><%= notice %></span>
        <span class="text-danger"><%= alert %></span>
      </p>
    </div>

    <h3 class="text-center pt-5 text-break"><%= @post.title %><br><br>コメント編集</h3>

    <%= form_with url: comment_search_edit_path, method: :get, local: true do |f| %>
      <div class="form-group pt-5 text-center row">
        <%= f.text_field :content, placeholder: "参考ガイド名を入力", value: @content, class: "offset-2 col-7 offset-sm-3 col-sm-6 offset-md-4 col-md-4 form-control" %>
        <%= f.button :type => "submit", class: "btn btn-info", style: 'border-style: none;' do %>
          <i class='fa fa-search'></i>
        <% end %>
      </div>
    <% end %>

    <%= form_with model: [@post,@post_comment], local: true do |f| %>

      <div class="bg-light text-danger"><%= render "users/shared/error_messages", resource: f.object %></div>

      <div class="form-group pt-5 row">
        <%= f.label :genre_detail, '参考ガイド', class: 'col-12 col-md-3 offset-md-2 col-form-label text-center' %>
        <%= f.collection_check_boxes(:genre_detail_ids, @genre_details, :id, :title) do |genre_detail| %>
          <%= genre_detail.label class: 'col-form-label col-6 offset-3 col-md-6 offset-md-5 text-break' do %>
            <%= genre_detail.check_box %>
            <%= link_to genre_detail.text.truncate(20), genre_genre_detail_path(genre_detail.object.genre_id, genre_detail.object.id) %>
          <% end %>
        <% end %>
        <div class="offset-1 offset-sm-3 offset-md-5 col-form-label text-break">
          <%= paginate @genre_details, :param_name => "genre_detail_page" %>
        </div>
      </div>

      <div class="form-group pt-3 text-center row" style="height: 500px;">
        <%= f.label :comment, "コメント", class: 'col-4 col-md-3 offset-md-2 col-form-label' %>
        <%= f.text_area :comment, placeholder: "年金制度について考える", class: 'form-control w-50' %>
      </div>


      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :post_id, :value => @post.id %>

      <div class="form-group pt-5 text-center row">
        <%= f.submit "アップデート", class: 'btn btn-success form-control offset-4 offset-md-5 col-md-3' %>
      </div>
    <% end %>
    <%= render 'layouts/arrow' %>
  </div>
</div>