<div class="user_textarea">
  <div class="container">
    <div class="flash">
      <p class="text-center">
        <span class="text-primary"><%= notice %></span>
        <span class="text-danger"><%= alert %></span>
      </p>
    </div>

    <h3 class="text-center pt-5 text-break">全コメント検索結果</h3>

    <%= form_with url: post_comments_seek_path, method: :get, local: true do |f| %>
      <div class="form-group pt-5 text-center row">
        <%= f.text_field :content, placeholder: "キーワードを入力", value: @content, class: "offset-md-4 col-md-4 form-control w-25" %>
        <%= f.button :type => "submit", class: "btn btn-info", style: 'border-style: none;' do %>
          <i class='fa fa-search'></i>
        <% end %>
      </div>
    <% end %>


    <% unless @post_comments.blank? %>
      <table class="table table-hover table-inverse mt-5">
        <thead>
          <tr class="table-active">
            <th>コメント日時</th>
            <th>コメント者</th>
            <th>コメント</th>
          </tr>
        </thead>
        <tbody>
          <% @post_comments.each do |post_comment| %>
            <tr>
              <td><%= post_comment.created_at.strftime("%Y/%m/%d %H:%M") %></td>
              <td><%= link_to post_comment.user.name.truncate(10), show_users_path(post_comment.user.id) %></td>
              <td><%= link_to post_comment.comment.truncate(10), post_post_comment_path(post_comment.post_id, post_comment.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @post_comments %>
    <% else %>
      <p class="text-center pt-5">該当項目が見つかりませんでした。</p>
    <% end %>
  </div>
</div>