<div class="flash">
  <p class="text-center">
    <span class="text-primary"><%= notice %></span>
    <span class="text-danger"><%= alert %></span>
  </p>
</div>

<h3 class="text-center pt-5">メンバー一覧</h3>

<%= form_with url: search_users_path, method: :get, local: true do |f| %>
  <div class="form-group pt-5 text-center row">
    <%= f.text_field :content, placeholder: "キーワードを入力", value: @content, class: "offset-md-4 col-md-4 form-control w-25" %>
    <%= f.button :type => "submit", class: "btn btn-info", style: 'border-style: none;' do %>
      <i class='fa fa-search'></i>
    <% end %>
  </div>
<% end %>

<% unless @users.blank? %>
  <table class="table table-hover table-inverse mt-5">
    <thead>
      <tr class="table-active">
        <th>アイコン</th>
        <th>ニックネーム</th>
        <th>自己紹介</th>
        <th>入会状況</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
          <td>
            <%= link_to user.name.truncate(10), show_users_path(user) %>
          </td>
          <td><%= user.introduction.truncate(10) %></td>
          <% if user.is_valid %>
            <td class="text-success">有効</td>
          <% else %>
            <td class="text-danger">退会</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
<% else %>
  <p class="text-center pt-5">該当項目が見つかりませんでした。</p>
<% end %>
