<div class="flash">
  <p class="text-center">
    <span class="text-primary"><%= notice %></span>
    <span class="text-danger"><%= alert %></span>
  </p>
</div>

<h3 class="text-center pt-5">メンバー一覧</h3>

<% unless @users.blank? %>
  <table class="table table-hover table-inverse mt-5">
    <thead>
      <tr class="table-active">
        <th>アイコン</th>
        <th>ニックネーム</th>
        <th>自己紹介</th>
        <th>入会状況</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
          <td>
            <%= link_to user.name.truncate(10), show_users_path(user) %>
          </td>
          <td><%= user.introduction.truncate(10) %></td>
          <% if user.is_valid %>
            <td class="text-success">有効</td>
          <% else %>
            <td class="text-danger">退会</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
<% else %>
  <p class="text-center pt-5">該当項目が見つかりませんでした。</p>
<% end %>
