<div class="flash">
  <p class="text-center">
    <span class="text-primary"><%= notice %></span>
    <span class="text-danger"><%= alert %></span>
  </p>
</div>
<h3 class="text-center mb-5 mt-5">メンバー紹介</h3>
<div class="row">
  <div class="col-md-4">
    <table class='table' style="table-layout:fixed;">
      <thead>
        <tr class="table-active">
          <th class="text-right pr-0">プロフ</th>
          <th class="pl-0">ィール</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>アイコン</th>
          <th>
            <%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
          </th>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <th class="text-break"><%= @user.name %></th>
        </tr>
        <tr>
          <th>自己紹介</th>
          <th class="text-break"><%= safe_join(@user.introduction.split("\n"),tag(:br)) %></th>
        </tr>
        <tr>
          <th>入会状況</th>
          <% if @user.is_valid %>
            <th class="text-success">有効</th>
          <% else %>
            <th class="text-danger">退会</th>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 offset-md-1 p-0">
    <% unless @projects.blank? %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr class="table-active">
            <th class="text-center">参加プロジェクト</th>
          </tr>
        </thead>
        <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td class="text-center">
                  <%= link_to project.name.truncate(10), project_path(project) %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
　　　<%= paginate @projects, :param_name => "project_page" %>
    <% else %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr class="table-active">
            <th class="text-center">参加プロジェクト</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">プロジェクト未参加</td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="col-md-3 offset-md-5 p-0">
    <% unless @posts.blank? %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr class="table-active">
            <th>投稿一覧</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to post.title.truncate(10), post_path(post) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @posts, :param_name => "post_page" %>
    <% else %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr class="table-active">
            <th>投稿一覧</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>未投稿</td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="col-md-3 p-0">
    <% unless @post_comments.blank? %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr class="table-active">
            <th>コメント一覧</th>
          </tr>
        </thead>
        <tbody>
          <% @post_comments.each do |post_comment| %>
            <tr>
              <td>
                <%= link_to post_comment.comment.truncate(10), post_post_comment_path(post_comment.post_id,post_comment.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @post_comments, :param_name => "comment_page" %>
    <% else %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr class="table-active">
            <th>コメント一覧</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>未コメント</td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
