<h3 class="text-center mb-5 mt-5">マイページ</h3>
<div class="row">
  <div class="col-md-4">
    <table class='table' style="table-layout:fixed;">
      <tbody>
        <tr>
          <th>アイコン</th>
          <th>
            <%= attachment_image_tag(current_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
          </th>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <th class="text-break"><%= current_user.name %></th>
        </tr>
        <tr>
          <th>自己紹介</th>
          <th><%= current_user.introduction %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= current_user.email %></th>
        </tr>
      </tbody>
    </table>
    <div class="text-center pt-5 row">
      <%= link_to '編集する', edit_users_path, class: "btn btn-success col-md-12" %>
    </div>
  </div>
  <div class="col-md-3 offset-md-1 p-0">
    <% unless current_user.projects.blank? %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr class="table-active">
            <th>プロジェクト名(参加中)</th>
          </tr>
        </thead>
        <tbody>
            <% current_user.projects.each do |project| %>
              <tr>
                <td>
                  <%= link_to project.name.truncate(10), project_path(project) %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>

    <% else %>
      <table class="table table-hover table-inverse">
        <thead>
          <tr class="table-active">
            <th>プロジェクト(未着手)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to "プロジェクト一覧", projects_path %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="col-md-3 p-0">
    <table class="table table-hover table-inverse">
      <thead>
         <tr class="table-active">
            <th>ブログ(タイトル)</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            aaaaa
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
