<div class="user_textarea">
  <div class="container">
    <div class="flash">
      <p class="text-center">
        <span class="text-primary"><%= notice %></span>
        <span class="text-danger"><%= alert %></span>
      </p>
    </div>

    <h3 class="text-center mb-5 pt-5"><strong>本当に退会しますか？</strong></h3>
    <div class="row">
      <div class="offset-md-3 col-md-6 mt-5 text-center">
        <p>
          退会すると、ログインを通した様々な閲覧権限を失います。<br>
          退会する場合は、「退会する」をクリックしてください。<br>
        </p>
        <div class="text-center pt-5 mb-5 row">
          <%= link_to "退会しない", mypage_users_path, class: "btn btn-success offset-md-3 col-md-6" %>
        </div>
        <div class="text-center pt-5 row">
          <%= link_to "退会する", withdraw_users_path, method: :patch, class:"btn btn-danger offset-md-3 col-md-6" %>
        </div>
      </div>
    </div>
    <%= render 'layouts/arrow' %>
  </div>
</div>
