<h3 class="text-center">プロジェクト一覧</h3>

<div class="text-right">
  <%= link_to new_project_path, class: "new_link" do %>
    <i class="fas fa-plus-circle fa-3x"></i>
  <% end %>
</div>
<% unless @projects.blank? %>
  <table class="table table-hover table-inverse mt-5">
    <thead>
      <tr class="table-active">
        <th>始動</th>
        <th>アイコン</th>
        <th>プロジェクト名</th>
        <th>概要</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>

          <td><%= project.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td><%= attachment_image_tag(project, :project_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
          <td>
            <%= link_to project.name, project_path(project) %>
          </td>
          <td><%= project.introduction.truncate(10) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @projects %>
<% else %>
  <p>該当項目が見つかりませんでした。</p>
<% end %>
