<h3 class="text-center pt-5">新規プロジェクト</h3>
<%= form_with model: @project, local: true do |f| %>

  <div class="bg-light text-danger"><%= render "users/shared/error_messages", resource: f.object %></div>

  <div class="form-group pt-5 text-center row">
    <%= f.label :name, "プロジェクト名", class: 'col-md-3 offset-md-2 col-form-label' %>
    <%= f.text_field :name, autofocus: true, placeholder: "未来について", class: 'form-control w-25' %>
  </div>

  <div class="form-group pt-3 text-center row" style="height: 500px;">
    <%= f.label :introduction, "詳細", class: 'col-md-3 offset-md-2 col-form-label' %>
    <%= f.text_area :introduction, placeholder: "年金制度について考える", class: 'form-control w-50' %>
  </div>

  <div class="form-group pt-3 text-center row">
    <%= f.label :project_image, "グループ画像", class: 'col-md-3 offset-md-2 col-form-label' %>
    <%= f.attachment_field :project_image, class: "form-control-file w-50" %>
  </div>

  <div class="form-group pt-5 text-center row">
    <%= f.submit "始動", class: 'btn btn-success form-control w-25 offset-md-5' %>
  </div>
<% end %>
