<h3>プロジェクト詳細</h3>
<div class="row">
  <div class="col-md-3">
    <%= attachment_image_tag(@project, :project_image, :fill, 100, 100, fallback: "no_image.jpg") %>
  </div>
  <div class="col-md-8 offset-md-1">
    <table class="table table-borderless">
      <tr>
        <th>プロジェクト名</th>
        <td><%= @project.name %></td>
      </tr>
      <tr>
        <th>プロジェクト概要</th>
        <td><%= @project.introduction %></td>
      </tr>
      <tr>
        <th>メンバー</th>
        <td>
          <% @project.members.each do |member| %>
            <%= member.name %><br>
          <% end %>
        </td>
      </tr>
    </table>
    <% if @project.owner_id == current_user.id %>
      <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-sm btn-success" %>
      <%= link_to "Destroy", project_path(@project), method: :delete, class: "btn btn-danger" %>
    <% elsif @project.users.include?(current_user) %>
      <%= link_to 'Leave this group', project_path(@project), method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= link_to 'Join this group', project_join_path(@project), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
