<div class="container">
  <div class="flash2 mt-0 pt-3">
    <p class="text-center">
      <span class="text-primary"><%= notice %></span>
      <span class="text-danger"><%= alert %></span>
    </p>
    <h2 id="type" class="text-center">Welcome To ENGINEER HOUSE</h2>
  </div>

  <div class="flash3">
    <h2 id="magic" class="text-center text-info">There are as many stories as there are codes</h2>
  </div>

  <div class="flash1 mt-0 pt-3">
    <div id="wrapper">
      <div id="title" class="text-danger">Let's Enjoy Programming</div>
      <ul id="ul_news">
        <li><%= link_to "新着投稿", posts_path %></li>
        <% @posts.each do |post| %>
          <li>
            <%= link_to post.short_title, post_path(post) %>
          </li>
        <% end %>
      </ul>
      <div id="div_ticker" class="tick text-center bg-light"></div>
    </div>
  </div>
  <%= render 'layouts/arrow' %>
</div>

<script>
$(window).on("load",function(){
    $(function() {
    var $allMsg = $('#type');
    var $wordList = $('#type').html().split("");　//#typeの子要素を取得して、1文字ずつ分割した配列として返すex)["W","e","l"・・・]
    $('#type').html(""); //#typeの子要素を""に置きかえる（空にする）
    $.each($wordList, function(idx, elem) {　//wordListという配列に対して、eachで１文字ずつ飛ばす
        var newEL = $("<span></span>").text(elem).css({ opacity: 0 }); //<span>タグの中に$wordListで取得したelemを入れていく（ここではまだ、htmlに<span>タグはない。作っただけ)
        newEL.appendTo($allMsg); //#typeの末尾にnewELを格納していく(一行上で作成した<span>elem</span>をappendToしていく)
        newEL.delay(idx * 100); //0.1*idx秒間停止
        newEL.animate({ opacity: 1 },100).fadeOut(1000,"linear",function(){ //0.1秒かけて、opacityを1にするアニメーションが実行され、その後、fadeOutがlinearで１秒かけて実行される。
          newEL.fadeIn(100);　//実行後、functionである、fadeInが0.1秒かけて実行される
        });
    });
  });
});
</script>
<script>
$(window).on("load",function(){
    $(function() {
    var $allMsg = $('#title');
    var $wordList = $('#title').html().split("");
    $('#title').html("");
    $.each($wordList, function(idx, elem) {
        var newEL = $("<span></span>").text(elem).css({ opacity: 0 });
        newEL.appendTo($allMsg);
        newEL.delay(idx * 100);
        newEL.animate({ opacity: 1 },100).fadeOut(1000,"linear",function(){
          newEL.fadeIn(100);
        });
    });
  });
});
</script>
<script>
$(window).on("load",function(){
    $(function() {
    var $allMsg = $('#magic');
    var $wordList = $('#magic').html().split("");
    $('#magic').html("");
    $.each($wordList, function(idx, elem) {
        var newEL = $("<span></span>").text(elem).css({ opacity: 0 });
        newEL.appendTo($allMsg);
        newEL.delay(idx * 20);
        newEL.animate({ opacity: 1 },100).fadeOut(100,"linear",function(){
          newEL.fadeIn(100);
        });
    });
  });
});
</script>
<script>
  var timer;

  // newstickerの設定用オブジェクト
  ticker = {};
  ticker.totalList = 0;
  ticker.numList = 0;
  ticker.time = 1000;
  ticker.interval = 4000;
  // ページが完全に読み込まれてから実行される
  $(window).on("load",function(){
    ticker.totalList = $("#ul_news li").length;　//リスト数
    ticker.width = $(".tick").css("width"); //.tickへnewstickerを入れていくので、同じ横幅を指定
    ticker.height = $(".tick").css("height");　//高さ
    var str = $("#ul_news li:first").html();　//#ul_news li:first内の子要素を取得（１番目のaタグ）
    $('#div_ticker').html(str);　//#div_ticker内へstrを入れる
    timer = setInterval('showNews()', ticker.interval);　//ticker.intervalごとにshowNews()を実行
  });
  function showNews(){
    ticker.numList ++;　//ticker.numListがtotalListに追いついたら、初期化する
    if (ticker.numList > ticker.totalList - 1){
      ticker.numList = 0;
    }
    var str = $('#ul_news li').eq(ticker.numList).html(); // a要素を取得
    // eq(index)なので、ticker.numListがN番のとき、indexはN+1番目を指している
    // 下から上  ------------------------------
    //#div_ticker aは、ticker.timeで-ticker.heightへ移動し、その後関数が実行される。
    //#div_tickerにN+1番目のticker.numListを入れて、まず、#div_tickerの下に来るように高さを指定して、
    //それをアニメーションで、top:0の位置へ持ってきている。
    $('#div_ticker a').animate({top: '-' + ticker.height}, ticker.time, 'linear', function(){
        $('#div_ticker').html(str);
        $('#div_ticker a').css('top', ticker.height).animate({top: '0'}, ticker.time, 'linear');
    });
  }
</script>
<script>
$(window).on("load",function(){
  $(function() {
    var fade = function() {
      $("#user_bg").hide().fadeIn(1500,"linear",function(){
        $(".flash3").addClass("rotate_first");
        $(".flash1").addClass("rotate_last");

      });
    }
    fade();
  });
});
</script>