<div class="flash">
  <p class="text-center">
    <span class="text-primary"><%= notice %></span>
    <span class="text-danger"><%= alert %></span>
  </p>
</div>

<h3 class="text-center pt-5 text-break"><%= @genre.name %><br><br>ガイド検索結果</h3>

<%= form_with url: search_genre_details_path, method: :get, local: true do |f| %>
  <div class="form-group pt-5 text-center row">
    <%= f.text_field :content, placeholder: "キーワードを入力", value: @content, class: "offset-md-4 col-md-4 form-control w-25" %>
    <%= f.button :type => "submit", class: "btn btn-info", style: 'border-style: none;' do %>
      <i class='fa fa-search'></i>
    <% end %>
  </div>
<% end %>

<div class="text-right">
  <%= link_to new_genre_genre_detail_path, class: "new_link" do %>
    <i class="fas fa-plus-circle fa-3x"></i>
  <% end %>
</div>
<% unless @genre_details.blank? %>
  <table class="table table-hover table-inverse mt-5">
    <thead>
      <tr class="table-active">
        <th>更新日時</th>
        <th>タイトル</th>
        <th>ガイド内容</th>
      </tr>
    </thead>
    <tbody>
      <% @genre_details.each do |genre_detail| %>
        <tr>
          <td><%= genre_detail.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td>
            <%= link_to genre_detail.title.truncate(10), genre_genre_detail_path(@genre, genre_detail) %>
          </td>
          <td><%= genre_detail.body.truncate(10) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @genre_details %>
<% else %>
  <p class="text-center pt-5">該当項目が見つかりませんでした。</p>
<% end %>
