<% project_chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p class="text-break text-right m-0"><%= safe_join(chat.chat.split("\n"),tag(:br)) %></p>
      <p class="text-break text-right mb-5"><%= chat.make_time %>  <%= current_user.name %></p>
    <% else %>
      <p class="text-break text-left m-0"><%= safe_join(chat.chat.split("\n"),tag(:br)) %></p>
      <p class="text-break text-left mb-5"><%= chat.make_time %>  <%= chat.user.name %></p>
    <% end %>
<% end %>