<h3 class="text-center pt-5">新規ブログ投稿</h3>
<%= form_with model: [:user, @post], url: posts_path, local: true do |f| %>

  <div class="bg-light text-danger"><%= render "users/shared/error_messages", resource: f.object %></div>

  <div class="form-group pt-5 text-center row">
    <%= f.label :title, "タイトル", class: 'col-md-3 offset-md-3 col-form-label' %>
    <%= f.text_field :title, autofocus: true, placeholder: "未来について", class: 'form-control w-25' %>
  </div>

  <div class="form-group pt-3 text-center row" style="height: 500px;">
    <%= f.label :body, "投稿内容", class: 'col-md-3 offset-md-3 col-form-label' %>
    <%= f.text_area :body, placeholder: "年金制度について考える", class: 'form-control w-50' %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="form-group pt-5 row">
    <%= f.label :genre, 'ジャンル', class: 'col-md-3 offset-md-3 col-form-label text-center' %>
    <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
      <%= genre.label class: 'col-form-label col-md-6 offset-md-6' do %>
        <%= genre.check_box %>
        <%= genre.text.truncate(20) %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group pt-5 row">
    <%= f.label :genre_detail, '参考ガイド', class: 'col-md-3 offset-md-3 col-form-label text-center' %>
    <%= f.collection_check_boxes(:genre_detail_ids, GenreDetail.all, :id, :title) do |genre_detail| %>
      <%= genre_detail.label class: 'col-form-label col-md-6 offset-md-6' do %>
        <%= genre_detail.check_box %>
        <%= genre_detail.text.truncate(20) %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group pt-5 text-center row">
    <%= f.submit "投稿する", class: 'btn btn-success form-control w-25 offset-md-6' %>
  </div>
<% end %>