<div class="user_textarea">
  <div class="container">
    <div class="flash">
      <p class="text-center">
        <span class="text-primary"><%= notice %></span>
        <span class="text-danger"><%= alert %></span>
      </p>
    </div>

    <h3 class="text-center pt-5">新規投稿</h3>

    <%= form_with url: search_new_path, method: :get, local: true do |f| %>
      <div class="form-group pt-5 text-center row">
        <%= f.text_field :content, autofocus: true, placeholder: "ジャンル名を入力", value: @content, class: "offset-2 col-7 offset-sm-3 col-sm-6 offset-md-4 col-md-4 form-control" %>
        <%= f.text_field :box, placeholder: "参考ガイド名を入力", value: @box, class: "offset-2 col-7 offset-sm-3 col-sm-6 offset-md-4 col-md-4 form-control" %>
        <%= f.button :type => "submit", class: "btn btn-info", style: 'border-style: none;' do %>
          <i class='fa fa-search'></i>
        <% end %>
      </div>
    <% end %>

    <%= form_with model: @post, url: posts_path, local: true do |f| %>

      <div class="bg-light text-danger"><%= render "users/shared/error_messages", resource: f.object %></div>

      <div class="form-group pt-5 row">
        <%= f.label :genre, 'ジャンル', class: 'col-12 col-md-3 offset-md-2 col-form-label text-center' %>
        <%= f.collection_check_boxes(:genre_ids, @genres, :id, :name) do |genre| %>
          <%= genre.label class: 'col-form-label col-6 offset-3 col-md-6 offset-md-5 text-break' do %>
            <%= genre.check_box %>
            <%= link_to genre.text.truncate(20), genre_path(genre.object.id) %>
          <% end %>
        <% end %>
        <div class="offset-1 offset-sm-3 offset-md-5 col-form-label text-break">
          <%= paginate @genres, :param_name => "genre_page" %>
        </div>
      </div>

      <div class="form-group pt-5 row">
        <%= f.label :genre_detail, '参考ガイド', class: 'col-12 col-md-3 offset-md-2 col-form-label text-center' %>
        <%= f.collection_check_boxes(:genre_detail_ids, @genre_details, :id, :title) do |genre_detail| %>
          <%= genre_detail.label class: 'col-form-label col-6 offset-3 col-md-6 offset-md-5 text-break' do %>
            <%= genre_detail.check_box %>
            <%= link_to genre_detail.text.truncate(20), genre_genre_detail_path(genre_detail.object.genre_id, genre_detail.object.id) %>
          <% end %>
        <% end %>
        <div class="offset-1 offset-sm-3 offset-md-5 col-form-label text-break">
          <%= paginate @genre_details, :param_name => "genre_detail_page" %>
        </div>
      </div>

      <div class="form-group pt-5 text-center row">
        <%= f.label :title, "タイトル", class: 'col-4 col-md-3 offset-md-2 col-form-label' %>
        <%= f.text_field :title, placeholder: "未来について", class: 'form-control w-50' %>
      </div>

      <div class="form-group pt-3 text-center row" style="height: 500px;">
        <%= f.label :body, "投稿内容", class: 'col-4 col-md-3 offset-md-2 col-form-label' %>
        <%= f.text_area :body, placeholder: "年金制度について考える", class: 'form-control w-50' %>
      </div>

      <%= f.hidden_field :user_id, :value => current_user.id %>

      <div class="form-group pt-5 text-center row">
        <%= f.submit "投稿する", class: 'btn btn-success form-control offset-4 offset-md-5 col-md-3' %>
      </div>
    <% end %>
    <%= render 'layouts/arrow' %>
  </div>
</div>

<!--コントローラー-->
<!--post_params genre_ids: []-->
<!--フォームのチェックボックスで設定したgenre_idsを許可する。-->
<!--複数のidが渡ってくるので、配列の形式で記述している。-->

<!--第一引数のgenre_idsはジャンルIDのリストを渡し、複数のジャンルを投稿に紐づけることができます。-->
<!--第二引数はジャンルオブジェクトのリスト-->
<!--第三引数にチェックボックスのvalue,-->
<!--第四引数にジャンルオブジェクトのnameプロパティをラベルに指定-->
<!--.labelで作ったスペースへcheckboxとtextを横並びで入れている-->

<!--Genre.all-->
<!--➡[#<Genre:0x00000000068b3a48 id: 1, owner_id: 1, name: "ddddddd", created_at: Thu, 16 Dec 2021 09:58:28 JST +09:00, updated_at: Thu, 16 Dec 2021 09:58:28 JST +09:00>,-->
<!-- #<Genre:0x00000000068b2990 id: 2, owner_id: 1, name: "jjjjjjjjj", created_at: Thu, 16 Dec 2021 21:44:28 JST +09:00, updated_at: Thu, 16 Dec 2021 21:44:28 JST +09:00>]-->

<!--リストと配列の違い-->

<!--・リストは異なる型を格納して作成できるが、配列は同じ型しか格納できない-->
<!--・リストはimportせずに使えるが、配列は、import arrayとしてインポートしないと使用できない-->

<!--ここで各textに対して詳細画面へのリンクを考える際、genre.idでは、ActionView::Helpers::Tags::CollectionCheckBoxes::CheckBoxBuilder:0x00007f710cb52ca8-->
<!--となり、うまくいかなかった。どうやら、collection_check_boxesには使用可能な３つの特別なメソッドがあり、-->
<!--object,text,valueがあり、それぞれ現在レンダリングされているアイテム、そのテキスト、および値のメソッドである。-->

<!--レンダリング・・もとになる情報を整形して表示すること-->

