<header>
  <nav class="navbar navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><span>ENGINEER HOUSE</span></a>
      <p class="mb-0 ml-5 text-light nav-link">ようこそ、<%= current_user.name.truncate(10) %>さん！</p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><%= link_to ' マイページ',mypage_users_path,class: 'fas fa-home nav-link text-light text-right' %></li>
          <li><%= link_to 'メンバー一覧', index_users_path,class: 'fas fa-users nav-link text-light text-right' %></li>
          <li><%= link_to ' 投稿一覧',posts_path,class: 'fas fa-book-open nav-link text-light text-right' %></li>
          <li><%= link_to ' プロジェクト一覧',projects_path ,class: 'fab fa-r-project nav-link text-light text-right' %></li>
          <li><%= link_to ' ジャンル一覧',genres_path,class: 'fas fa-bible nav-link text-light text-right' %></li>
          <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light text-right' %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
