<!DOCTYPE html>
<html>
  <head>
    <title>EngineerHouse</title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "layouts/header_user" %>
      <div id="user_bg">
        <%= yield %>
      </div>
    <% else %>
      <%= render "layouts/header_before" %>
      <div id="user_bg">
        <%= yield %>
      </div>
    <% end %>
    <%= render "layouts/footer" %>
  </body>
</html>
